header {
  overflow: hidden;
  background-color: #212429;
  height: 55px;
  color:#fff;
}

.wrapper {
  margin: 0 53px;
  height: 100%;
  min-width: 903px;
}

.blog-title {
  height: 100%;
  text-align: center;
  border: 1px solid #3C3C3C;
  border-top: 0;
  border-bottom: 0;
  padding: 17px 20px 0 20px;
}

nav {
  padding: 16px 20px 0 20px;
}

.menu-nav {
  border-right: 1px solid #3C3C3C;
  height: 100%;
  float: left;
}

.sub-nav {
  border-left: 1px solid #3C3C3C;
  height: 100%;
  float: right;
}
