* {
  box-sizing: border-box;
}

html {
  width: 100%;
  height: 100%;
}

body {
  background-color: #F9F9FB;
  margin: 0;
  width: 100%;
  height: 100%;
  /*padding: 20px 40px;*/
  font-family: "Montserrat";
  /*line-height: 28px;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;*/
}

/*.header-container {
  color: white;
  background-color: #212429;
  height: 360px;
  width: 100%;
  min-width: 944px;
  margin: 0 auto;
  padding: 0 0;
  overflow: hidden;
  position: relative;
}*/





/*.feature {
  margin: 0 53px;
  position: absolute;
  top: 75px;
  width: 90.3%;
}*/

/*.feature>.articles {
  background: url('../static/images/workout.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 580px;
}*/

/*.feature .sign-up {
  height: 100px;
  background-color: #F7F7F7;
  padding: 25px;
}*/

/*.sign-up .label {
  float: left;
  font-size: 22px;
  width: 240px;
  line-height: 22px;
  padding-left: 60px;
  letter-spacing: 2px;
}*/
/*
.inputs {
  height: 100%;
  display: inline-block;
  width: 66%;
}*/
/*input {
  padding: 15px 32px;
  width: 48%;
  margin-left: 20px;
}*/

/*.button {
  background-color: #212121;
  border: none;
  color: white;
  width: 17%;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}*/
