<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>DECO BLOG</title>
    <link rel="stylesheet" type="text/css" href="../styles/style.css"/>
    <link rel="stylesheet" type="text/css" href="../styles/contact-page.css"/>
    <script>
      document.createElement('header');
      document.createElement('footer');
      document.createElement('nav');
      document.createElement('article');
      document.createElement('section');
      document.createElement('aside');
      document.createElement('main');
    </script>
  </head>
  <body>
    <header >
        <div class="wrapper">
            <nav class="nav menu-nav">
                <img src="../static/images/menu-icon.png">
            </nav>
            <nav class="nav sub-nav">
                <img src="../static/images/search.png">
            </nav>
            <nav class="nav sub-nav">
                <img src="../static/images/facebook-top.png">
            </nav>
            <nav class="nav sub-nav">
                <img src="../static/images/tumblr.png">
            </nav>
            <nav class="nav sub-nav">
                <img src="../static/images/twitter.png">
            </nav>
            <nav class="nav sub-nav">
                <img src="../static/images/wifi.png">
            </nav>
            <div class="blog-title">
              <a href="../index.html">
                <img src="../static/images/logo.png">
              </a>
            </div>
        </div>
    </header>
    <main>
        <div class="main-contents contact">
            <section class="main-wrapper">
              <div class="contact-wrapper">
                <div class="contact-information">
                  <div class="location">
                    <img src="../static/images/map.png" alt="">
                  </div>
                  <div class="info">
                    <h1>CONTACT INFORMATION</h1>
                    <p>In case if you have any questions popped up in your mind email us or even visit us. Incase if you have any questions popped up in your mind email us or even visit us.</p>
                    <span>
                      <img src="../static/images/home-icon.png" alt="">
                      Address: 123 Street Name, City Name, India.
                    </span>
                    <span>
                      <img src="../static/images/mail-icon.png" alt="">
                      Email: info@lifestyle.com
                    </span>
                    <span>
                      <img src="../static/images/network-icon.png" alt="">
                      www.lifestyle.com
                    </span>
                  </div>
                  <form class="message-form" action="index.html" method="post">
                    <input class="name" placeholder="YOUR NAME"type="text" name="" value="">
                    <input class="email-address" placeholder="YOUR EMAIL ADDRESS"type="text" name="" value="">
                    <input class="web-address" placeholder="WEBITE ADDRESS"type="text" name="" value="">
                    <textarea class="message" placeholder="PLEASE WRITE A MESSAGE HERE"></textarea>
                    <input class="msg-button" type="submit" value="SEND MESSAGE">
                  </form>
                </div>
              </div>
            </section>
            <section class="aside-wrapper">
              <aside class="aside-container">
                  <input type="text" placeholder="Search">
                  <img class="small-img" src="../static/images/sidebar-mid.png">
                  <div class="latest-post">
                    <h1>LATEST POST</h1>
                  </div>
              </aside>
            </section>
        </div>
    </main>
    <footer class="footer">
        <div class="footer-content">
            <section class="about">
                <h1>ABOUT BLOG</h1>
                <p> This is just to show some text on the about section . Just a sample paragraph ;-) </p>
                <div class="signature">
                    Ashwin Kumar K A
                </div>
            </section>
            <section class="tweets">
                <h1>LATEST TWEETS</h1>
                <li>@Twitter@magicalrebekah
                    <p>This is the tweet message which is about the blog. Super!!!!</p>
                </li>
                <li>@Twitter@magicalrebekah
                    <p>This is the tweet message which is about the blog. Super!!!!</p>
                </li>
            </section>
            <section class="follow">
                <h1>FOLLOW ME INSTAGRAM</h1>
                <div class="wrapper_div">
                    <div class="row1">
                        <div></div>
                        <div></div>
                        <div></div>
                    </div>
                    <div class="row2">
                        <div></div>
                        <div></div>
                        <div></div>
                    </div>
                </div>
            </section>
            <section class="comments">
                <h1>LATEST COMMENT</h1>
                <ul>From ALEX :
                    <p>This is the latest comment which is published about the blog. Super!!!!</p>
                </ul>
                <ul>From JOHN DOE :
                    <p>This is the latest comment which is published about the blog. Super!!!!</p>
                </ul>
            </section>
        </div>
        <div class="copy-right">
            @2015 COPYRIGHT .ALL RIGHT RESERVED BY AWESOME THEME | TERMS POLICY | DISCLAIMER
        </div>
    </footer>
  </body>
</html>
