<!DOCTYPE html>
<html>
<link rel="stylesheet" type="text/css" href="../styles/footer.css" />

<body>
    <footer>
        <div class="footer-content">
            <section class="about">
                <h1>ABOUT BLOG</h1>
                <p> This is just to show some text on the about section . Just a sample paragraph ;-) </p>
                <div class="signature">
                    Ashwin Kumar K A
                </div>
            </section>
            <section class="tweets">
                <h1>LATEST TWEETS</h1>
                <li>@Twitter@magicalrebekah
                    <p>This is the tweet message which is about the blog. Super!!!!</p>
                </li>
                <li>@Twitter@magicalrebekah
                    <p>This is the tweet message which is about the blog. Super!!!!</p>
                </li>
            </section>
            <section class="follow">
                <h1>FOLLOW ME INSTAGRAM</h1>
                <div class="wrapper_div">
                    <div class="row1">
                        <div/>
                        <div/>
                        <div/>
                    </div>
                    <div class="row2">
                        <div/>
                        <div/>
                        <div/>
                    </div>
                </div>
            </section>
            <section class="comments">
                <h1>LATEST COMMENT</h1>
                <ul>From ALEX :
                    <p>This is the latest comment which is published about the blog. Super!!!!</p>
                </ul>
                <ul>From JOHN DOE :
                    <p>This is the latest comment which is published about the blog. Super!!!!</p>
                </ul>
            </section>
        </div>
        <div class="copy-right">
            @2015 COPYRIGHT .ALL RIGHT RESERVED BY AWESOME THEME | TERMS POLICY | DISCLAIMER
        </div>
    </footer>
</body>

</html>
