<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>DECO BLOG</title>
    <link rel="stylesheet" type="text/css" href="../styles/style.css"/>
    <link rel="stylesheet" type="text/css" href="../styles/image-post.css"/>
    <script>
      document.createElement('header');
      document.createElement('footer');
      document.createElement('nav');
      document.createElement('article');
      document.createElement('section');
      document.createElement('aside');
      document.createElement('main');
    </script>
  </head>
  <body>
    <header >
        <div class="wrapper">
            <nav class="nav menu-nav">
              <a href="./contact-page.html">
                <img src="../static/images/menu-icon.png">
              </a>
            </nav>
            <nav class="nav sub-nav">
                <img src="../static/images/search.png">
            </nav>
            <nav class="nav sub-nav">
                <img src="../static/images/facebook-top.png">
            </nav>
            <nav class="nav sub-nav">
                <img src="../static/images/tumblr.png">
            </nav>
            <nav class="nav sub-nav">
                <img src="../static/images/twitter.png">
            </nav>
            <nav class="nav sub-nav">
                <img src="../static/images/wifi.png">
            </nav>
            <div class="blog-title">
              <a href="../index.html">
                <img src="../static/images/logo.png">
              </a>
            </div>
        </div>
    </header>
    <section class="feature">
      <div class="half-background"></div>
      <section class="subscription-wrapper">
        <article class="articles">
          <img src="../static/images/Header-banner.png" alt="">
        </article>
        <div class="sign-up">
          <div class="label">Signup to Newsletter</div >
          <div class="inputs">
            <input type="text" placeholder="YOUR NAME">
            <input type="email" placeholder="YOUR EMAIL ADDRESS">
          </div>
          <input class="button" type="submit" value="SUBSCRIBE NOW">
        </div>
      </section>
    </section>
    <main>
        <div class="main-contents">
            <section class="main-wrapper">
                <div class="image-post article">
                  <img src="../static/images/workout.jpg">
                  <div class="story">
                    <h1>BE THE ONE TO STAND OUT IN THE CROWD</h1>
                    <p>
                      In an overcrowded, hypercompetitive world,
                      the only way to make an impression on your prospect is to break through the noise.
                      “The formula of telling everybody how great you are with your state-of-the-art solutions,
                      commitment to customer service, and best prices in town just won’t cut it,”
                      says marketing expert Lauron Sonnier, author of Think Like a Marketer.
                      The first step is getting clear on what you want. How do you want to be perceived?
                    </p>
                    <p>
                      Who is your ideal customer?
                    </p>
                    <p>
                      Once you know what you want,
                      you must take deliberate action in a constant and consistent manner.
                    </p>
                    <p>
                      How do you define success today and tomorrow?
                    </p>
                    <p>
                      In an overcrowded, hypercompetitive world,
                      the only way to make an impression on your prospect is to break through the noise.
                      “The formula of telling everybody how great you are with your state-of-the-art solutions,
                      commitment to customer service, and best prices in town just won’t cut it,”
                      says marketing expert Lauron Sonnier, author of Think Like a Marketer.
                      The first step is getting clear on what you want. How do you want to be perceived?
                    </p>
                    <p>
                      Once you know what you want,
                      you must take deliberate action in a constant and consistent manner.
                    </p>
                    <div class="bottom-bar">
                      <ul class="comment">06 COMMENT</ul>
                      <ul class="like">LIKE 26</ul>
                      <ul class="rating">
                        AVERAGE : 5%
                        <img src="../static/images/dark-star.png" alt="">
                        <img src="../static/images/dark-star.png" alt="">
                        <img src="../static/images/dark-star.png" alt="">
                        <img src="../static/images/grey-star.png" alt="">
                        <img src="../static/images/grey-star.png" alt="">
                      </ul>
                      <ul class="social-icon"><img src="../static/images/pinterest.png" alt=""></ul>
                      <ul class="social-icon"><img src="../static/images/twitter.png" alt=""></ul>
                      <ul class="social-icon"><img src="../static/images/facebook.png" alt=""></ul>
                      <ul class="social-icon"><img src="../static/images/icon.png" alt=""></ul>
                    </div>
                  </div>
                </div>
                <div class="post-nav">
                  <div class="prev-post">
                    <img src="../static/images/prev-post.png" alt="">
                    PREVIOUS POST
                  </div>
                  <div class="next-post">
                    NEXT POST
                    <img src="../static/images/next-post.png" alt="">
                  </div>
                </div>
                <div class="author">
                  <div class="image">

                  </div>
                  <div class="content">
                    <h1>MICHELL BEVERLLY</h1>
                    <p>Patrica gives you the ability to let people actually read have your content, instead of focusing on all the other stuff that's going on their screen</p>
                  </div>
                </div>
            </section>
            <section class="aside-wrapper">
              <aside class="aside-container">
                  <input type="text" placeholder="Search">
                  <img src="../static/images/sidebar-top2.png">
                  <div class="catagories">
                    <h1>CATAGORIES</h1>
                      <ul>
                        LIFESTYLE
                      </ul>
                      <ul>
                        AUDIO
                      </ul>
                      <ul>
                        GALLERY
                      </ul>
                      <ul>
                        IMAGE
                      </ul>
                      <ul>
                        STANDARD
                      </ul>
                      <ul>
                        STATUS
                      </ul>
                      <ul>
                        VIDEO
                      </ul>
                  </div>
                  <img class="small-img" src="../static/images/sidebar-mid.png">
                  <div class="latest-post">
                    <h1>LATEST POST</h1>
                  </div>
              </aside>
            </section>
        </div>
    </main>
    <footer>
        <div class="footer-content">
            <section class="about">
                <h1>ABOUT BLOG</h1>
                <p> This is just to show some text on the about section . Just a sample paragraph ;-) </p>
                <div class="signature">
                    Ashwin Kumar K A
                </div>
            </section>
            <section class="tweets">
                <h1>LATEST TWEETS</h1>
                <li>@Twitter@magicalrebekah
                    <p>This is the tweet message which is about the blog. Super!!!!</p>
                </li>
                <li>@Twitter@magicalrebekah
                    <p>This is the tweet message which is about the blog. Super!!!!</p>
                </li>
            </section>
            <section class="follow">
                <h1>FOLLOW ME INSTAGRAM</h1>
                <div class="wrapper_div">
                    <div class="row1">
                        <div></div>
                        <div></div>
                        <div></div>
                    </div>
                    <div class="row2">
                        <div></div>
                        <div></div>
                        <div></div>
                    </div>
                </div>
            </section>
            <section class="comments">
                <h1>LATEST COMMENT</h1>
                <ul>From ALEX :
                    <p>This is the latest comment which is published about the blog. Super!!!!</p>
                </ul>
                <ul>From JOHN DOE :
                    <p>This is the latest comment which is published about the blog. Super!!!!</p>
                </ul>
            </section>
        </div>
        <div class="copy-right">
            @2015 COPYRIGHT .ALL RIGHT RESERVED BY AWESOME THEME | TERMS POLICY | DISCLAIMER
        </div>
    </footer>
  </body>
</html>
