<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" type="text/css" href="../styles/main.css" />
</head>
<body>
    <main>
        <div class="main-contents">
            <section class="main-wrapper">
                <div class="image-post article">
                  <img src="../static/images/img1.jpg">
                  <div class="story">
                    <h1>BE THE ONE TO STAND OUT IN THE CROWD</h1>
                    <p>
                      In an overcrowded, hypercompetitive world,
                      the only way to make an impression on your prospect is to break through the noise.
                      “The formula of telling everybody how great you are with your state-of-the-art solutions,
                      commitment to customer service, and best prices in town just won’t cut it,”
                      says marketing expert Lauron Sonnier, author of Think Like a Marketer.
                      The first step is getting clear on what you want. How do you want to be perceived?
                      Who is your ideal customer?
                      How do you define success today and tomorrow?
                      Once you know what you want,
                      you must take deliberate action in a constant and consistent manner.
                            </p>
                    <button class="button" type="button" >READ MORE</button>
                    <div class="bottom-bar">

                    </div>
                  </div>
                </div>
                <div class="gallery-post article">
                  <div class="img-gallery">
                  </div>
                  <div class="story">
                    <h1>FASHION AND ADVENTURE IN WORLD</h1>
                    <p>
                      In an overcrowded, hypercompetitive world,
                      the only way to make an impression on your prospect is to break through the noise.
                      “The formula of telling everybody how great you are with your state-of-the-art solutions,
                      commitment to customer service, and best prices in town just won’t cut it,”
                      says marketing expert Lauron Sonnier, author of Think Like a Marketer.
                      The first step is getting clear on what you want. How do you want to be perceived?
                      Who is your ideal customer?
                      How do you define success today and tomorrow?
                      Once you know what you want,
                      you must take deliberate action in a constant and consistent manner.
                            </p>
                    <button class="button" type="button" >READ MORE</button>
                    <div class="bottom-bar">

                    </div>
                  </div>
                </div>
            </section>
            <section class="aside-wrapper">
              <aside class="aside-container">
                  <input type="text" placeholder="Search">
                  <img src="../static/images/lazar.png">
                  <div class="catagories">
                    <h1>CATAGORIES</h1>
                      <ul>
                        LIFESTYLE
                      </ul>
                      <ul>
                        AUDIO
                      </ul>
                      <ul>
                        GALLERY
                      </ul>
                      <ul>
                        IMAGE
                      </ul>
                      <ul>
                        STANDARD
                      </ul>
                      <ul>
                        STATUS
                      </ul>
                      <ul>
                        VIDEO
                      </ul>
                  </div>
                  <img class="small-img" src="../static/images/quote.jpg">
                  <div class="latest-post">
                    <h1>LATEST POST</h1>
                  </div>
              </aside>
            </section>
        </div>
    </main>
</body>

</html>
