<!DOCTYPE html>
<html>
  <link rel="stylesheet" type="text/css" href="../styles/subscription.css"/>
  <body>
    <section class="feature">
      <div class="half-background"></div>
      <section class="subscription-wrapper">
        <article class="articles">
        </article>
        <div class="sign-up">
          <div class="label">Signup to Newsletter</div >
          <div class="inputs">
            <input type="text" placeholder="YOUR NAME">
            <input type="email" placeholder="YOUR EMAIL ADDRESS">
          </div>
          <input class="button" type="submit" value="SUBSCRIBE NOW">
        </div>
      </section>
    </section>
  </body>
</html>
